* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 2em;
}

body {
    background-color: lightgray
}

.Header{
    margin-top: 1px;
    background-color: blue;
    font-weight: bold;
}

.Header nav{
    background-color: white;
    font-weight: normal;
}

.Posts table{
    background-color: lightgray;
}

.Posts h2{
    font-weight:bolder
}

.copyright{
    background-color: blue;
}

