* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 2em;
}

body {
    background-color: lightgray
}
.Tweet_Storm{
    background-color: rgb(102, 93, 93);
}